@import "https://fonts.googleapis.com/css?family=Oswald|Roboto:700";
.limiter {
  font-family: 'Oswald', sans-serif;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  color: #FFF;
  font-size: 30px;
  background: rgba(17, 17, 17, 0.6);
  padding: 10px 30px;
  border-radius: 3px;
  box-shadow: -2px 0px 20px 3px rgba(17, 17, 17, 0.2); }
  .limiter::before {
    content: "limiter: ";
    display: inline-block;
    font-size: 20px;
    padding-right: 10px; }
