@charset "UTF-8";
/* reset.css */
/* global reset */
@import "https://fonts.googleapis.com/css?family=Oswald|Roboto:700";
html {
  overflow-y: scroll; }

body, h1, h2, h3, h4, h5, h6, p, div, dl, dt, dd, form, fieldset, input, textarea, pre, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0px; }

caption, th {
  text-align: left; }

fieldset {
  border: 0; }

img {
  border: 0;
  vertical-align: bottom; }

a {
  outline: 0; }

/* html5tag */
header, footer, nav, section, article, figure, aside {
  display: block;
  margin: 0;
  padding: 0; }

/* for responsive */
.forpc {
  display: block; }

.forsp {
  display: none; }

html, body, p, h1, h2, h3, h4, h5, h6, div, span, ul, ol, li, dl, dt, dd, table, th, td, input, textarea, section, article, nav, a {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box; }

/* clearfix */
.clearfix {
  display: block; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
  line-height: 0; }

.clearfix {
  *overflow: hidden;
  *zoom: 1; }

.clearfix:not(:target) {
  /* overflow: hidden\9; */
  /* zoom: 1\9; */ }

/* hides from ie-mac \*/
* html .clearfix {
  height: 1%;
  overflow: visible; }

/* end hide from ie-mac */
.clear {
  clear: both; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.6;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .btn.btn-small {
    font-size: 17px;
    padding: 10px 30px; }
  .btn.btn-large {
    font-size: 17px;
    padding: 10px 30px; }
  .btn.btn-xlarge {
    font-size: 17px;
    padding: 20px 100px;
    border-radius: 8px; }
  .btn-primary {
    color: #FFFFFF;
    background: #444444;
    font-weight: bold;
    text-decoration: none;
    box-shadow: #373737 0px 3px 0px 0px; }
  .btn-attention {
    color: #FFFFFF;
    background: #f17d3d;
    font-weight: bold;
    text-decoration: none;
    box-shadow: #ef6d25 0px 3px 0px 0px; }
  .btn [class^="icon-"] {
    margin-right: 5px; }
  .btn:hover, .btn:focus, .btn.focus {
    text-decoration: none;
    opacity: 0.8; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

html {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Lucida Grande", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 62.5%;
  text-size-adjust: 100%;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  line-height: 1.6;
  font-size: 13px; }

.wrapper {
  box-sizing: border-box;
  width: 250px;
  padding: 10px; }
  .wrapper .label {
    width: 100%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 5px; }
  .wrapper .btn {
    box-sizing: border-box;
    width: 100%; }
