// variables.scss

// color
$color-primary:           #0074be !default;
$color-secondary:         #096098 !default;
$color-tertiary:          #7ea6c0 !default;
//basic color
$color-black:             #111111 !default;
$color-white:             #FFFFFF !default;
$color-gray:              #666666 !default;
$color-lightgray:         #e5eaee !default;
$color-blue:              $color-primary !default;
$color-deepblue:          $color-secondary !default;
$color-lightblue:         $color-tertiary !default;
$color-orange:            #f17d3d !default;
$color-red:               #BE1900 !default;
//button color
$btn-color-normal:        $color-primary;
$btn-color-attention:     $color-orange;
// line
$line-color-blue:         $color-blue;
$line-color-gray:         rgba($color-gray, .2);


// font
$font-family-sans-serif:  "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Lucida Grande", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif !default;
$font-family-serif:       "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif !default;
$font-family-base:        $font-family-sans-serif !default;


// font size
$font-size-base:          13px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         11px !default; // ~12px
// font size heading
$font-size-h1:            floor(($font-size-base * 2.0)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.7)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.2)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.80)) !default; // ~12px
// line height
$line-height-base:        1.6 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px


//radius
$border-radius-base:      4px;
$border-radius-small:     2px;
$border-radius-large:     8px;
$border-radius-curve:     200px;


// padding
$padding-list-base: 10px 30px 10px 10px;;

// background
$bg-XXX: url(XXX.png) repeat;


// device width
$width-pc: 980px;
$width-smt: 640px;


// ease in
$ease-in-quad:      cubic-bezier(0.550,  0.085, 0.680, 0.530);
$ease-in-cubic:     cubic-bezier(0.550,  0.055, 0.675, 0.190);
$ease-in-quart:     cubic-bezier(0.895,  0.030, 0.685, 0.220);
$ease-in-quint:     cubic-bezier(0.755,  0.050, 0.855, 0.060);
$ease-in-sine:      cubic-bezier(0.470,  0.000, 0.745, 0.715);
$ease-in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035);
$ease-in-circ:      cubic-bezier(0.600,  0.040, 0.980, 0.335);
$ease-in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045);
// ease out
$ease-out-quad:     cubic-bezier(0.250,  0.460, 0.450, 0.940);
$ease-out-cubic:    cubic-bezier(0.215,  0.610, 0.355, 1.000);
$ease-out-quart:    cubic-bezier(0.165,  0.840, 0.440, 1.000);
$ease-out-quint:    cubic-bezier(0.230,  1.000, 0.320, 1.000);
$ease-out-sine:     cubic-bezier(0.390,  0.575, 0.565, 1.000);
$ease-out-expo:     cubic-bezier(0.190,  1.000, 0.220, 1.000);
$ease-out-circ:     cubic-bezier(0.075,  0.820, 0.165, 1.000);
$ease-out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275);
// ease in out
$ease-in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000);
$ease-in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000);
$ease-in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000);
$ease-in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950);
$ease-in-out-expo:  cubic-bezier(1.000,  0.000, 0.000, 1.000);
$ease-in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860);
$ease-in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550);
